*~
/turcksin-spring-mechanics/paper.aux
/turcksin-spring-mechanics/paper.bbl
/turcksin-spring-mechanics/paper.blg
/turcksin-spring-mechanics/paper.log
/turcksin-spring-mechanics/paper.out
/turcksin-spring-mechanics/paper.pdf
/turcksin-spring-mechanics/tests/*.json.new
